.app-container {
  min-height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
  background-color: transparent;
  position: relative;
  z-index: 1;
}

a {
  text-decoration: none;
  color: #4caf50;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
  line-height: 1.3;
}
